.container {
  padding: 20px;
  display:grid;
  font-family: Arial, Helvetica, sans-serif;
}

.category {
  margin-bottom: 40px;
}

.card:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.cardContainer{
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 100%; /* Ensure image fits the card */
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333; /* Ensure text color contrasts with background */
  font-weight: bold;
}

p {
  font-size: 0.9rem;
  margin: 5px 0;
  color: #333; /* Dark text color for contrast */
}

.card * {
  flex:1;
}